@media only screen and (min-width: 300px) {
	body {
		height: 100vh;
		width: 100vw;
		min-width:400px; 
		background-color: black;
	}

	a {
		color: #fff;
	}

	#wrapper {
		background-color: #000000;
		margin: 0px;
		min-height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 5fr 1fr;
	}

	header {
		background-color: #000000;
	    color: #fff;
	    font-size: 20px;
	    font-family: 'Comfortaa';
	    display: flex;
	    border-bottom: 5px solid pink;
	}

	#skull {
		display: flex;
    	justify-content: center;
   		align-items: center;
   		width: 5%;
   		margin: 0 20px;
	}

	#name {
		width: 95%;
		display: flex;
		align-items: center;
	}

	#me {
	    display: grid;
	    margin: 0 auto;
	    grid-template-columns: 1fr;
	    grid-template-rows: 1fr 1fr;
	    padding: 10px;
	    box-sizing: border-box;
	    background-color: black;
	    width: 100%;
	    height: 100%;
	}

	h3 {
		margin: 0;
		padding: 0;
		font-size: 45px;
	}

	#hello {
		background-color: #000000;
		text-align: center;
		color: #fff;
		font-size: 45px;
		font-family: 'Comfortaa';
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 10px;
		box-sizing: border-box;
	}

	#introduction {
		font-size: 20px;
		font-family: 'Comfortaa';
		text-align: center;
		color: #fff;
		overflow: visible;
		background-color: black;
	}

	footer {
		background-color: #000000;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 5px solid pink;
	}

	.icon {
		margin: 0 25px;
		height: 40px;
		width: 40px;
	}
}


@media only screen and (min-height: 1400px) {
	#me {
		min-height: 1fr;
	}
}


