/*
 * Box Sizing */
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

/*
 * Reset Default white space */
* {
	margin: 0;
	padding: 0;
}

/*
 * Typography */
body {
	font-family: 'Comfortaa', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
}

h2 {
	font-size: 20px;
}

.strike {
	text-decoration: line-through;
}
/*
 * Layout base */
body {
	height: 100vh;
	width: 100vw;
	min-width: 400px; 
	display: flex;
	direction: column;
}

.title-page {
	width: 100%;
}

/*
 * Styles */
body {
	color: #fff;
	background-color: #c5c4c3;
}

a {
	color: #fff;
}

.name {
	text-align: left;
	margin-left: 0px;
	margin-top: 20px;
	height: 20px;
	display: inline-block;
	float: left;
}

#skull {
	height: 40px;
	text-align: left;
	display: inline-block;
	float: left;
	margin-right: 0px;
}

.me {
	word-wrap: break-word;
}

.hello {
	margin-bottom: 2%;
	margin-top: 20%;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 2.1em;
}

.introduction {
	text-align: center;
	margin-top: 40px;
	margin-bottom: auto;
	margin-left: 20px;
	margin-right: 20px;
	overflow: visible;
}

.icons {
	text-align: center;
	height:40px;
	margin: 2%;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}

.icon {
	display: inline-block;
	margin-right: 25px;
	margin-left: 25px;
}

