/*
 * Box Sizing */
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

/*
 * Reset Default white space */
* {
	margin: 0;
	padding: 0;
}

/*
 * Typography */
body {
	font-family: 'Comfortaa', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

h1, h2, h3 {
}

h2 {
	font-size: 20px;
}

.strike {
	text-decoration: line-through;
}
/*
 * Layout base */
body {
	height: 100vh;
	width: 100vw;
	min-width: 400px; 
	display: flex;
	direction: column;
}

.title-page {
	width: 100%;
}

/*
 * Styles */
body {
	color: #fff;
	background-color: #c5c4c3;
}

a {
	color: #fff;
}

header {
	margin: 1em 0 0 1.25em;
	background: url('skull.png') left top no-repeat;
	background-size: auto 90%;
	line-height: 1;
}

header a {
	display: block;
	padding-left: 3.50em;
	text-decoration: none;
}

header h1,
header h3 {
	font-size: 1em;
}

section {
	margin-top: 12.5vh;
	text-align: center;
	white-space: break-word;
	padding: 1em;
}

section h2 {
	font-size: 2.25em;
	font-weight: normal;
	margin-bottom: 0.7em;
}

.icons {
	text-align: center;
	height: 40px;
	margin: 2%;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}

.icon {
	display: inline-block;
	margin-right: 25px;
	margin-left: 25px;
}

